html {
  line-height: 1.618em;
  font-family: Georgia, Lora, serif;
  font-size: 18px;
  padding: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

.nav a {
  font-size: 20px;
  padding: 10px;
  display: block;
  text-decoration: none;
  background: gray;
  color: #000000;
}

.nav a:hover {
  background: #666666;
}

.nav li {
  float: left;
  width: 25%;
  text-align: center;
}

.nav {
  padding-top: 2.5em;
  padding-bottom: 3.5em;
}

/*ABOUT PAGE CODE STARTS*/
.description {
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
}

.icons,
.members {
  display: flex;
}

figure {
  text-align: center;
}

figure.philosophy,
figure.diversity,
figure.justice {
  text-align: center;
  padding: 20px;
}

figure.philosophy {
  padding-left: 20em;
}

.objectives {
  text-align: center;
}

.founders {
  padding-top: 2em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 30px;
}

.list {
  list-style-type: circle;
}

figcaption,
.description {
  padding-bottom: 20px;
}

.button1,
.button2 {
  font-family: Georgia, Lora, serif;
  font-size: 16px;
  padding: 0.4em;
  width: 7.2em;
  border: none;
  background-color: #BEBEBE;
  color: #000000;
}
.button1 a, .button2 a {
  text-decoration: none;
  color: #000000;

}
.container {
  margin: 50px auto;
  width: 500px;
  height: 350px;
  overflow: hidden;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  position: relative;
}

.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/*ABOUT PAGE CSS ENDS*/
