html {
  line-height: 1.618em;
  font-family: Georgia, Lora, serif;
  font-size: 18px;
  padding: 30px;
  width:480px;
}
h1 {
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
.nav a {
  font-size: 20px;
  padding: 10px;
  display: block;
  text-decoration: none;
  background: gray;
  color: #000000;
}
.nav a:hover{
  background: #666666;
}
.nav li {
  float:left;
  width: 25%;
  text-align: center;
}
.nav {
  padding-top: 2.5em;
  padding-bottom: 3.5em;
}

/* CONTACT PAGE CODE */
form {
  margin-top:2em;
}

#contactHeader{
  margin-top: 1em;
}

#inputArea {
  background:url("../media/plato-2.jpg");
  background-repeat:no-repeat;
  text-align: center;
}

#inputArea li{
  padding: 5px;
}

#inputArea li input{
  border: none;
  background-color: lightgrey;
  border-radius: 2px;
  padding-left: 3px;
  padding:5px;
  width:250px;
}

textarea{
  border: none;
  background-color: lightgrey;
  border-radius: 2px;
  padding-left: 3px;
}
/* END CONTACT PAGE CODE */

/*ABOUT PAGE CODE STARTS*/
.description{
  text-align:center;
  padding-left: 5em;
  padding-right: 5em;
}
.icons, .members {
  display: flex;
}
figure {
  text-align: center;
}
figure.philosophy, figure.diversity, figure.justice {
  text-align: center;
  padding: 20px;
}
figure.philosophy {
  padding-left:20em;
}
.objectives {
  text-align:center;
}
.founders{
  padding-top: 2em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 30px;
}
.list {
  list-style-type: circle;
}
figcaption,.description {
  padding-bottom: 20px;
}
.button1, .button2 {
  font-family: Georgia, Lora, serif;
  font-size: 16px;
  padding: 0.2em;
  width: 7em;
  border: none;
  background-color: #BEBEBE;
  color: #000000;
}
/*ABOUT PAGE CSS ENDS*/


@media only screen and (min-width: 480px) {

  html{
    width:100%;
  }


@media only screen and (min-width: 480px) {
  
  html{
    width:100%;
  }
  
  #inputArea li input{
    width: 50vw;
  }


}

@media only screen and (min-width: 768px){
  /* CONTACT PAGE CODE */
  #inputArea{
    text-align:left;
    padding: 20px;
    width:50%;
  }


  #inputArea li{
    padding: 10px;
  }

  #inputArea li input{
    width: 20em;
  }

  textArea


  /* END CONTACT PAGE CODE */
}
  
  #inputArea li{
    padding: 10px;
  }
  
  #inputArea li input{
    width: 20em;
  }
  
  textArea
  
  
  /* END CONTACT PAGE CODE */
}